<div class="container-fluid">
    <div class="row"><div class="col fs-4">{{customer.name}}</div></div>
    <div class="row">
        <div class="col-1">Dob: {{calculateAge(customer.age)}}</div>
        <div class="col-1">Spol: {{customer.gender ? 'M' : 'Ž' }}</div>
        <div class="col-3">Telefon: {{customer.phone}}</div>
    </div>
    <div class="row">
        <div class="col-2">Status: {{customer.status ? 'Aktivan' : 'Nije Aktivan'}}</div>
        <div class="col-10">Alergije: {{customer.alergies}}</div>
    </div>
    <div class="row">
        <div class="col-12">Opis: {{customer.description}}</div>
    </div>
</div>