<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="../../../assets/doroty.png" alt="doroty" class="logo mx-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-2" id="navbarText">
      <ul class="navbar-nav me-auto my-2 my-lg-0s">
        <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
          <button type="button" class="btn fw-slight cyan mx-sm-1 mx-md-1 mx-2 my-1 fs-xl-1 font-xl-medium" [routerLink]="['/schedule']" [routerLinkActive]='"active-btn"'>Raspored</button>
        </li> 
        <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
          <button type="button" class="btn fw-slight cyan mx-sm-1 mx-md-1 mx-2 my-1 font-xl-medium" [routerLink]="['/record']" [routerLinkActive]='"active-btn"'>Kartoteka</button>
        </li>
        <li class="nav-item ms-lg-2 mt-2 mt-lg-0">
          <button type="button" class="btn fw-slight cyan mx-sm-1 mx-md-1 mx-2 my-1 fs-xl-1 font-xl-medium" [routerLink]="['/user']" [routerLinkActive]='"active-btn"'>Korisnici</button>
        </li> 
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-danger mx-sm-1 mx-md-1 mx-2 my-2 my-lg-1 font-xl-medium fw-bold" (click)="authService.logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
