nav.cyan {
    background-color: #119DA4;
}
img.logo {
    width: 5.2rem;
}
button.cyan {
    text-decoration: none;
    outline: 0.15rem solid #119DA4;
    color: #119DA4;
    font-weight: 600;
}
button.cyan:hover {
    background-color: #119DA4; 
    color: #F2F4F3;
}
a.cyan {
    color: #119DA4;
    font-weight: 600;
}
button.active-btn {
    background-color: #119DA4;
    cursor: auto;
    color: #F2F4F3;
    outline: 0.15rem solid #119DA4;
}

@media (min-width: 2200px) {
    img.logo {
        width: 8rem;
    }
}