<div class="my-4 mx-4 d-flex justify-content-between align-items-center">
    <p class="font-xl-big">Kartoteka klijenata</p>
    <button type="button" class="btn blue font-xl-medium" (click)="create()">+ Dodaj Klijenta</button>
</div>

<div class="container-fluid">
<div class="row justify-content-start">
    <div class="col-3 text-center pe-0">
        <form [formGroup]="form" id="searchCustomers">
            <mat-form-field class="w-100">
                <mat-label>Ime i prezime <i class="bi bi-search"></i></mat-label>
                <input matInput type="text" [formControlName]="'name'" (input)="searchCustomers()" [matAutocomplete]="auto"/>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayCustomer" (optionSelected)="optionSelectedCustomer($event)">
                    @if (options.length > 0) {
                        @for (option of options; track option.ref) {
                            <mat-option [value]="option">{{option.name}}</mat-option>
                        }
                    }
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="col-1 p-0" style="height: 57px;">
        <button type="button" class="btn btn-dark h-100" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px;" (click)="cancelSearchCustomers()" [disabled]="form.get('name')?.value ? false : true">X</button>
    </div>
    <div class="col-2 ps-0">
        <mat-form-field>
            <mat-label>Filtriraj Status</mat-label>
            <mat-select required [(value)]="status">
                <mat-option [value]="2">Svi</mat-option>
                <mat-option [value]="1">Aktivan</mat-option>
                <mat-option [value]="0">Nije Aktivan</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
</div>

<div class="table-responsive mx-4">
    <table class="table table-hover">
    <thead>
        <tr class="font-xl-medium">
          <th>Ime i prezime</th>
          <th>Dob</th>
          <th>Spol</th>
          <th>Telefon</th>
          <th>Adresa</th>
          <th>Dijabetes</th>
          <th>Status</th>
          <th class="text-center">Ažuriraj</th>
          <th class="text-center">Obriši</th>
        </tr>
    </thead>
    <tbody>
        @for (customer of customers; let index = $index; track index) {
            @if (status == 2 || status == customer.status) {
                <tr class="font-xl-medium pointer">
                    <td (click)="redirect(customer)">{{customer.name}}</td>
                    <td (click)="redirect(customer)">{{calculateAge(customer.age)}}</td>
                    <td (click)="redirect(customer)">{{customer.gender ? 'M' : 'Ž'}}</td>
                    <td (click)="redirect(customer)">{{customer.phone}}</td>
                    <td (click)="redirect(customer)">{{customer.address}}</td>
                    <td (click)="redirect(customer)">{{customer.diabetes ? 'Da' : 'Ne'}}</td>
                    <td (click)="redirect(customer)">{{customer.status ? 'Aktivan' : 'Nije Aktivan'}}</td>
                    <td class="text-center td-hover" (click)="update(customer)"><i class="bi bi-pencil-square p-0 font-xl-large"></i></td>
                    <td class="text-center td-hover" (click)="delete(customer.ref!, index)"><i class="bi bi-trash2 p-0 font-xl-large"></i></td>
                </tr>
            }
        }
    </tbody>
</table>
</div>

