<button type="button" class="btn btn-info mt-lg-2 ms-lg-2" (click)="openCreateDialog()">Dodaj Klijenta</button>

<table class="table table-hover">
    <thead>
        <tr>
          <th>Ime i prezime</th>
          <th>Dob</th>
          <th>Spol</th>
          <th>Telefon</th>
          <th>Adresa</th>
          <th>Opis</th>
          <th>Alergije</th>
          <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (customer of customers; track $index) {
            <tr (click)="redirect(customer)">
                <td>{{customer.name}}</td>
                <td>{{customer.age}}</td>
                <td>{{customer.gender ? 'M' : 'Ž'}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.description}}</td>
                <td>{{customer.alergies}}</td>
                <td>{{customer.status ? 'Aktivan' : 'Nije Aktivan'}}</td>
            </tr>
        }
    </tbody>
</table>