/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } // background-color: #191c1c;
.outline {
    border: 1px solid #c4c6d0;
    border-radius: 12px
}
.fw-slight {
    font-weight: 500;
}
.td-hover:hover {
    background-color: #ececec;
}